In [139]:
import pandas as pd

<h1> Data Cleaning/Exploration </h1>

In [163]:
gsf_df = pd.read_excel("Final Water Data reference sheet.xlsx")
gsf_df = gsf_df[["Building Name", "GSF"]]
gsf_df["Building Name"] = gsf_df["Building Name"].str.strip()
gsf_df

                                    Building Name            GSF
0                          Alice Pratt Brown Hall  153502.116798
1                                    Allen Center   63196.123694
2                                   Anderson Hall   49931.326848
3                          Anderson-Clarke Center   56874.202829
4                                   Baker College  105473.605318
..                                            ...            ...
77                                  Wiess College   97566.343835
78  Wiess College Magister's House (Wilson House)    4093.000000
79                        Wiess President's House   16558.078945
80                              Will Rice College   86452.692882
81             Will Rice College Magister's House    5421.000000

[82 rows x 2 columns]

In [141]:
df_coh = pd.read_csv('coh data.csv')
df_coh.head()

,Old Name,Acct #,Meter #,Activity Code,Usage Date,Gallons,Current $
0,Anderson Hall -Fire,4327-3155-7018,Fire6,FP7018,7/1/2023,0,$193.67
1,Biology -Fire,4327-2435-1015,Fire5,FP1015,7/1/2023,0,$193.67
2,Duncan Hall -Fire,4327-3187-4017,Fire7,FP4017,7/1/2023,0,$193.67
3,Hicks Kitchen -Fire,4327-2434-6015,Fire3,FP6015,7/1/2023,0,$193.67
4,Keck Hall -Fire,4327-2434-5017,Fire2,FP5017,7/1/2023,0,$193.67

In [142]:
def convert_to_numeric(df, column):
    df[column] = df[column].replace(r'[^0-9.]', '', regex=True)
    df[df[column] == ''] = 0
    df[column] = df[column].astype(float)

In [143]:
# Use regex to remove all non-numeric characters
convert_to_numeric(df_coh, "Current $")
convert_to_numeric(df_coh, "Gallons")
df_coh.head()

,Old Name,Acct #,Meter #,Activity Code,Usage Date,Gallons,Current $
0,Anderson Hall -Fire,4327-3155-7018,Fire6,FP7018,7/1/2023,0.0,193.67
1,Biology -Fire,4327-2435-1015,Fire5,FP1015,7/1/2023,0.0,193.67
2,Duncan Hall -Fire,4327-3187-4017,Fire7,FP4017,7/1/2023,0.0,193.67
3,Hicks Kitchen -Fire,4327-2434-6015,Fire3,FP6015,7/1/2023,0.0,193.67
4,Keck Hall -Fire,4327-2434-5017,Fire2,FP5017,7/1/2023,0.0,193.67

In [144]:
df_beacon = pd.read_csv('beacon data.csv')
df_beacon["Location_Name"] = df_beacon["Location_Name"].str.strip()
df_beacon.head()

,Location_Name,Register_Number,Endpoint_SN,Meter_ID,Meter_SN,Read_Time,Service_Point_Timezone,Read,Read_Unit,Read_Method,...,Battery Level,Signal Strength,Last Comm. Time,Last Gateway Id,Estimated Flag,Current Leak Start Date,Current Leak Rate Per Hour,Backflow (gal/30 days),Supply_Zone_ID,Demand_Zone_ID
0,North Plant AHU Condensate,NaN,120976276,1074319,1074319,2023-07,US/Central,32667.99,KGAL,Network,...,good,good,2024-08,NaN,0.0,2024-06,160.0,NaN,NaN,NaN
1,North Plant AHU Condensate,NaN,120976276,1074319,1074319,2023-08,US/Central,33115.47,KGAL,Network,...,good,good,2024-08,NaN,0.0,2024-06,160.0,NaN,NaN,NaN
2,North Plant AHU Condensate,NaN,120976276,1074319,1074319,2023-09,US/Central,33457.84,KGAL,Network,...,good,good,2024-08,NaN,0.0,2024-06,160.0,NaN,NaN,NaN
3,North Plant AHU Condensate,NaN,120976276,1074319,1074319,2023-10,US/Central,33755.10,KGAL,Network,...,good,good,2024-08,NaN,0.0,2024-06,160.0,NaN,NaN,NaN
4,North Plant AHU Condensate,NaN,120976276,1074319,1074319,2023-11,US/Central,33854.29,KGAL,Network,...,good,good,2024-08,NaN,0.0,2024-06,160.0,NaN,NaN,NaN

In [145]:
# Extract names from both datasets (assuming 'Building Name' column exists)
df_coh['Old Name'].unique()

array(['Anderson Hall -Fire', 'Biology -Fire', 'Duncan Hall -Fire',
       'Hicks Kitchen -Fire', 'Keck Hall -Fire', 'Ryon Lab -Fire',
       'Wiess College -Fire', 'Mechanical Engineering - Fire', 'FIRE9',
       'FIRE10', 'FIRE11', 'FIRE12', 'FIRE13', 'FIRE14', 'FIRE15',
       'FIRE16', 'FIRE17', 'Geo. R. Brown -Fire',
       'Main Feed #1 Current chg', 'Evap Credits $ only', 'Wiess College',
       'Wiess College Credit', 'Water Well', 'Alice Pratt Brown',
       'Anderson Clarke', 'Annex Building', 'Baker Hall', 'BRC',
       'Cambridge Office Bldg', 'Dell Butcher ', 'Football Stadium',
       'Jones  School', 'Library Service Ctr', 'Martel College',
       "O'Connor Building", "President's House", 'Wellness Center',
       'Wellness Center - Pool', 'A-North Lawn', 'Allen Center Lawn',
       'Anderson Clarke Irrigation', 'B-South Lawn', 'BRC Lawn',
       'Brockman Hall for Opera Lawn', 'Cameron Field Lawn',
       'Geo R. Brown Lawn', 'Intramural Fld Lawn', 'Lib Service Ctr Lawn',
       'Lovett College Lawn', 'North College Lawn ', 'Pres. House. Lawn',
       'Soccer Field Lawn', 'Wiess Lawn A', 'Wiess Lawn X', 0],
      dtype=object)

In [146]:
df_coh[df_coh['Old Name'] == 'Library Service Ctr']

,Old Name,Acct #,Meter #,Activity Code,Usage Date,Gallons,Current $
32,Library Service Ctr,4328-0629-1014,70120536,CP1014,7/1/2023,5000.0,632.54
86,Library Service Ctr,4328-0629-1014,70120536,CP1014,8/1/2023,5000.0,632.54
140,Library Service Ctr,4328-0629-1014,70120536,CP1014,9/1/2023,4000.0,615.40
194,Library Service Ctr,4328-0629-1014,70120536,CP1014,10/1/2023,5000.0,632.54
248,Library Service Ctr,4328-0629-1014,70120536,CP1014,11/1/2023,10000.0,718.24
302,Library Service Ctr,4328-0629-1014,70120536,CP1014,12/1/2023,5000.0,632.33
356,Library Service Ctr,4328-0629-1014,70120536,CP1014,1/1/2024,0.0,546.34
410,Library Service Ctr,4328-0629-1014,70120536,CP1014,2/1/2024,0.0,546.34
464,Library Service Ctr,4328-0629-1014,70120536,CP1014,3/1/2024,2500.0,332.45
518,Library Service Ctr,4328-0629-1014,70120536,CP1014,4/1/2024,2500.0,332.45
572,Library Service Ctr,4328-0629-1014,70120536,CP1014,5/1/2024,4000.0,664.74
626,Library Service Ctr,4328-0629-1014,70120536,CP1014,6/1/2024,2000.0,627.46

In [147]:
def get_location_account_mapping(df):
    """
    Extracts unique mappings of 'Location_Name' to 'Account ID'.
    
    @param df: The input DataFrame containing 'Location_Name' and 'Account ID'.
    @return: Dictionary mapping 'Location_Name' to 'Account ID'.
    """
    # Drop rows where Account ID or Location Name is missing
    mapping_df = df[["Location_Name", "Account_ID"]].dropna().drop_duplicates()
    
    # Convert to dictionary
    location_account_mapping = dict(zip(mapping_df["Location_Name"], mapping_df["Account_ID"]))
    
    return location_account_mapping

# Example usage
location_account_mapping = get_location_account_mapping(df_beacon)
print(location_account_mapping)

{'North Plant AHU Condensate': 98805, 'Jones College Fountain': 98776, 'South Plant Cooling Tower Blowdown': 98822, 'Recreation Pool Fill': 98766, 'McNair Hall Fountain': 98774, 'South Plant AHU Condensate Return': 98768, 'McMurtry College': 98779, 'West Servery': 98780, 'Duncan College': 98778, 'North Servery': 98781, 'Brown College Tower': 98777, 'New Sid Lawn Tank Outflow': 98794, 'New Sid Lawn COH MU': 98795, 'Biology - Main': 98798, 'Old Hanszen College': 98791, 'Will Rice Commons': 98793, 'Old Baker College': 98784, 'Old Will Rice College': 98787, 'Brockman Opera Main': 98799, 'New Will Rice': 98792, 'Lovett College': 98790, 'Wiess College': 98786, 'Old Sid Rich College': 98785, 'Brian Patterson - Chiller': 98835, 'Sewall Hall Dewatering Pump 2': 98796, 'Sewall Hall Dewatering Pump 1': 98797, 'New Baker College': 98783, 'Reckling Roost': 98800, 'GRB Tennis': 98803, 'Reckling Park': 98804, 'Kraft Hall': 98817, 'Brockman Hall for Physics Fountain': 98773, 'Space Science Clean Room': 98788, "President's House Lawn": 98802, 'New Sid Rich Main': 98801, 'Practice Field Lawn': 98813, 'Stadium - Northeast': 98809, 'Stadium - South': 98811, 'GRB Lawn': 98826, 'McNair Hall - B': 98820, 'LSC Lawn': 98806, 'McNair Hall - A': 98819, 'Holistic Garden': 98808, 'Intramural Field Lawn': 98807, 'Biology Condensate Recovery': 98839, "O'Connor Building - HRW": 98857, "O'Connor Building - HRW Makeup": 98858, "O'Connor Building": 98856, 'Stadium - Northwest': 98814, 'Stadium - Southeast': 98810, 'Stadium - Southwest': 98812, 'APB Courtyard - North': 98824, 'Wiess College Lawn': 98832, 'Brockman Opera Lawn': 98829, 'Soccer Field 2': 98828, 'Brian Patterson': 98818, 'Anderson-Clarke Center Lawn': 98815, 'Track Waterline': 98816, 'Sid Rich College- HW Makeup': 99860, 'Anderson-Clarke Center CHW makeup': 98847, 'Humanities HW Makeup': 98854, "O'Connor Building - SCHW Makeup": 98855, 'Keck Hall, Main': 98842, 'South Plant Cooling Water line': 98837, 'Soccer Field 1': 98827, 'New Hanszen College- DHW Makeup': 98864, 'APB Courtyard - South': 98825, 'Humanities Domestic Meter': 98853, 'Moody Center- Main': 98848, 'Rayzor Domestic Meter': 98852, 'Lovett College Lawn': 98830, 'The Grove Lawn': 98831, 'North College Lawn': 98833, 'BRC Lawn': 98834, 'Tudor Fieldhouse': 98865, 'Cox Mechanical Engineering': 98876, 'New Hanszen College': 98863, 'Moody Center- CHW Makeup': 98862, 'South Plant Domestic Cold Water': 98838, 'Keck Hall Condensate Recovery': 98840, 'Cohen House': 98836, 'South HW Plant Makeup': 98859, 'Dell Butcher Hall RODI Makeup': 98873, 'Dell Butcher Hall HW Makeup': 98874, 'Brockman Hall for Physics - HW Makeup': 98870, 'Geology HW Makeup': 98868, 'Brockman Hall for Physics - RODI Makeup': 98869, 'GRB Hall- Main': 98875, 'Brockman Hall for Physics - Main': 98871, 'Delll Butcher Water Softener': 98866, 'Anderson-Clarke Center Main': 98845, 'Allen Center Lawn': 98841, 'Ryon Lab, West': 98844, 'Ryon Lab, East': 98843, 'Anderson-Clarke Center HW Makeup': 98846, 'New Hanszen College- HW Makeup': 98850, 'Rayzor Hall HW Makeup': 98851, 'Lovett College- HW Makeup': 98849, 'Seibel Servery': 98878, 'Brochstein Pavilion': 98879, 'Moody Center- HW Makeup': 99861, 'Dell Butcher Hall': 98867, 'Geology Main': 98872, 'South Plant Cooling Tower Makeup': 98764, 'South Plant Boiler Make Up': 98765, 'South Plant Water Softener Entering': 98769, 'Jones College Main': 98782, 'South Plant Boiler Blowdown Cooling Water': 98770, 'Fondren Fountain North': 98762, 'Fondren Fountain South': 98763, 'Biology Fountain Makeup': 98789, 'Jamail Fountain': 98771, 'Duncan College Fountain': 98772, 'Cohen House Fountain': 98775, 'Competition Pool Fill': 98767, 'North Plant Cooling Tower Makeup': 98821, 'North Plant Cooling Tower Blowdown': 98823, 'Space Science Main': 98761}

In [274]:
groups_meters_names = pd.read_excel("building groups and meter names.xlsx")
groups_meters_names

,Building Name,CoH Meter/Group,Beacon Data Name,Unnamed: 3
0,Alice Pratt Brown Hall,Alice Pratt Brown,None,NaN
1,Allen Center,North Plant Group,None,NaN
2,Anderson Hall,North Plant Group,None,NaN
3,Anderson-Clarke Center,West Campus Group,Anderson-Clarke Center Main,NaN
4,Baker College,North Plant Group,"New Baker College, Old Baker College",<-- this building will be the sum of both Beac...
...,...,...,...,...
77,Wiess College,North Plant Group,Wiess College,NaN
78,Wiess College Magister's House (Wilson House),North Plant Group,None,NaN
79,Wiess President's House,President's House,None,NaN
80,Will Rice College,North Plant Group,"Old Will Rice College, New Will Rice, New Sid ...",<-- Will Rice College will require a calculati...
81,Will Rice College Magister's House,North Plant Group,None,NaN

In [281]:
library_service_names = groups_meters_names[groups_meters_names["CoH Meter/Group"] == "Library Service Center Group"][["Building Name", "Beacon Data Name"]]
library_service_names

              Building Name Beacon Data Name
41  Library Service Center              None
58     Primary Data Center              None

In [284]:
west_campus_names = groups_meters_names[groups_meters_names["CoH Meter/Group"] == "West Campus Group"][["Building Name", "Beacon Data Name"]]
west_campus_names

                                Building Name               Beacon Data Name
3                      Anderson-Clarke Center    Anderson-Clarke Center Main
9   Brian Patterson Sports Performance Center                Brian Patterson
11                    Brockman Hall for Opera            Brockman Opera Main
51                  Moody Center For The Arts             Moody Center- Main
60             Reckling Park At Cameron Field  Reckling Park, Reckling Roost
73                              Tennis Center                     GRB Tennis
74                     Track & Soccer Stadium                Track Waterline
75       Tudor Fieldhouse And Youngkin Center               Tudor Fieldhouse

In [282]:
north_plant_names = groups_meters_names[groups_meters_names["CoH Meter/Group"] == "North Plant Group"][["Building Name", "Beacon Data Name"]]
north_plant_names

,Building Name,Beacon Data Name
1,Allen Center,None
2,Anderson Hall,None
4,Baker College,"New Baker College, Old Baker College"
5,Baker College Magister's House,None
7,Biological Laboratories,Biology - Main
10,Brochstein Pavilion,None
12,Brockman Hall for Physics,None
13,Brown College,Brown College Tower
14,Brown College Magister's House,None
16,Central Plant,North Plant Cooling Tower Makeup
17,Cohen House,Cohen House
18,Cox Mechanical Engineering,None
20,Duncan College,Duncan College
21,Duncan College Magister's House,None
22,Duncan Hall,None
23,Facilities & Capital Planning,None
24,Fondren Library,None
25,Geological Laboratories,None
26,George R. Brown Hall,None
27,Greenhouse,None
28,Hamman Hall,None
29,Hanszen College,"New Hanszen College, Old Hanszen College"
30,Hanszen College Magister's House,None
31,Herman Brown Hall,None
32,Herring Hall,None
33,Herzstein Hall,None
34,Housing & Dining Offices,None
35,Huff House,None
36,Humanities Building,Humanities Domestic Meter
37,Jones College,Jones College Main
38,Jones College Magister's House,None
39,Keck Hall,"Keck Hall, Main"
40,Kraft Hall,Kraft Hall
42,Lovett College,Lovett College
43,Lovett College Magister's House,None
44,Lovett Hall,None
45,Martel College,None
46,Martel College Magister's House,None
47,Maxfield Hall,None
48,McMurtry College,McMurtry College
49,McMurtry College Magister's House,None
52,Mudd Computer Science Building,None
53,Multicultural Center,None
54,North Kitchen Servery,North Servery
56,Oshman Engineering Design Kitchen,None
59,Rayzor Hall,Rayzor Domestic Meter
63,RMC/Ley Student Center,None
64,Ryon Engineering Laboratory,"Ryon Lab - East, Ryon Lab - West"
65,Seibel Servery,None
66,Sewall Hall,None
67,Sid Richardson College,New Sid Rich Main
68,Sid Richardson College Magister's House,None
69,South Kitchen Servery,None
71,Space Science And Technology,Space Science Clean Room
72,Student Health Center,None
76,West Kitchen Servery,West Servery
77,Wiess College,Wiess College
78,Wiess College Magister's House (Wilson House),None
80,Will Rice College,"Old Will Rice College, New Will Rice, New Sid ..."
81,Will Rice College Magister's House,None

<h1> Parsing City of Houston (CoH) data </h1>

In [148]:
WEST_CAMPUS_GROUP = [
    "Anderson Clarke",
    "Football Stadium"
]

LIBRARY_SERVICE_CENTER = [
    "Library Service Ctr",
]

NORTH_PLANT_GROUP = [
    "Main Feed #1 Current chg",
    "Water Well",
    "Martel College"
]

coh_groups = {
    "west_campus_group" : WEST_CAMPUS_GROUP,
    "library_service_center": LIBRARY_SERVICE_CENTER,
    "north_plant_group": NORTH_PLANT_GROUP,
    
}

In [149]:
def parse_coh_groups(groups):
    # Initialize an empty DataFrame
    final_df = pd.DataFrame()

    for group in groups:

        group_df = pd.DataFrame()
        for name in groups[group]:
            filtered_df = df_coh[df_coh['Old Name'] == name]  # Filter rows matching 'Old Name'
            group_df = pd.concat([group_df, filtered_df], ignore_index=True)

        grouped_df = group_df.groupby('Usage Date').sum()
        grouped_df['Old Name'] = group

        grouped_df.index = pd.to_datetime(grouped_df.index)

        final_df = pd.concat([final_df, grouped_df], ignore_index=False)

    sorted_df = final_df.sort_index()
    return sorted_df

In [150]:
parsed_df = parse_coh_groups(coh_groups)

<h4> West Campus Group sorted and aggregated data </h4>

In [151]:
west_campus_group_agg = parsed_df[parsed_df["Old Name"] == "west_campus_group"]
west_campus_group_agg

              Gallons  Current $           Old Name
Usage Date
2023-07-01   691000.0   12937.42  west_campus_group
2023-08-01  1105000.0   20033.38  west_campus_group
2023-09-01   960000.0   17548.08  west_campus_group
2023-10-01   775000.0   14377.18  west_campus_group
2023-11-01   778000.0   14428.60  west_campus_group
2023-12-01   624000.0   11788.04  west_campus_group
2024-01-01   700000.0   13090.68  west_campus_group
2024-02-01   808000.0   15294.64  west_campus_group
2024-03-01   810000.0   15161.21  west_campus_group
2024-04-01   525000.0   10966.36  west_campus_group
2024-05-01   609000.0   12532.12  west_campus_group
2024-06-01   484000.0   10202.12  west_campus_group

<h4> Library Service Center sorted and aggregated data </h4>

In [152]:
library_service_center_agg = parsed_df[parsed_df["Old Name"] == "library_service_center"]
library_service_center_agg

            Gallons  Current $                Old Name
Usage Date
2023-07-01   5000.0     632.54  library_service_center
2023-08-01   5000.0     632.54  library_service_center
2023-09-01   4000.0     615.40  library_service_center
2023-10-01   5000.0     632.54  library_service_center
2023-11-01  10000.0     718.24  library_service_center
2023-12-01   5000.0     632.33  library_service_center
2024-01-01      0.0     546.34  library_service_center
2024-02-01      0.0     546.34  library_service_center
2024-03-01   2500.0     332.45  library_service_center
2024-04-01   2500.0     332.45  library_service_center
2024-05-01   4000.0     664.74  library_service_center
2024-06-01   2000.0     627.46  library_service_center

<h4> North Plant Group sorted and aggregated data </h4>

In [153]:
north_plant_group_agg = parsed_df[parsed_df["Old Name"] == "north_plant_group"]
north_plant_group_agg

               Gallons  Current $           Old Name
Usage Date
2023-07-01  10165000.0  140446.55  north_plant_group
2023-08-01  14219000.0  179179.59  north_plant_group
2023-09-01  19720000.0  310202.05  north_plant_group
2023-10-01  15562000.0  192127.28  north_plant_group
2023-11-01  13224000.0  162653.48  north_plant_group
2023-12-01  10436000.0  135837.71  north_plant_group
2024-01-01  13173000.0  182955.71  north_plant_group
2024-02-01   7782000.0  119342.93  north_plant_group
2024-03-01  15210000.0  192281.02  north_plant_group
2024-04-01  16462000.0  238588.17  north_plant_group
2024-05-01  10780000.0  175038.44  north_plant_group
2024-06-01  11641000.0  199645.60  north_plant_group

<h1> Parsing Beacon Data </h1>

In [266]:
BEACON_LIBRARY_GROUP = {

}

BEACON_WEST_CAMPUS_GROUP = {
    "Anderson-Clarke Center": [98845],
    "Brian Patterson Sports Performance Center": [98818],
    "Brockman Hall for Opera":[98799],
    "Moody Center For The Arts":[98848],
    "Reckling Park At Cameron Field":[98804, 98800],
    "Rice Stadium":[98809, 98811, 98814, 98810, 98812],
    "Tennis Center":[98803],
    "Track & Soccer Stadium":[98816],
    "Tudor Fieldhouse And Youngkin Center":[98865],
}

BEACON_NORTH_PLANT_GROUP = {
    
}

beacon_groups = {
    "west_campus_group" : BEACON_WEST_CAMPUS_GROUP,
}

In [264]:

def parse_beacon_groups(groups, df):
    final_df = pd.DataFrame()

    # Loop through each beacon group
    for group_name, group_data in beacon_groups.items():
        group_df = pd.DataFrame()

        # Loop through each building and associated Account IDs
        for location_name, account_ids in group_data.items():
            # Filter rows for the Account IDs associated with the current location
            filtered_df = df[df["Account_ID"].isin(account_ids)]

            # Group by Read_Time and sum the 'Read' column (flows)
            grouped_df = filtered_df.groupby('Read_Time')['Flow'].sum()

            # Create a new column with the location name for each row
            grouped_df = grouped_df.reset_index()
            grouped_df['Location_Name'] = location_name

            group_df = pd.concat([group_df, grouped_df], ignore_index=True)

        final_df = pd.concat([final_df, group_df], ignore_index=True)

    final_df = final_df.sort_values(by='Read_Time')
    final_df = final_df.rename(columns={"Flow": "beacon_flow"})

    return final_df

In [267]:
beacon_df = parse_beacon_groups(beacon_groups, df_beacon)

In [268]:
beacon_df

   Read_Time  beacon_flow                              Location_Name
46   2023-07     138848.0                               Rice Stadium
34   2023-07      23782.0             Reckling Park At Cameron Field
17   2023-07      10662.0                    Brockman Hall for Opera
58   2023-07       4244.0                              Tennis Center
5    2023-07     181330.0  Brian Patterson Sports Performance Center
..       ...          ...                                        ...
28   2024-06       4035.0                    Brockman Hall for Opera
57   2024-06     128869.0                               Rice Stadium
33   2024-06      12806.0                  Moody Center For The Arts
4    2024-06      16228.0                     Anderson-Clarke Center
83   2024-06     157173.0       Tudor Fieldhouse And Youngkin Center

[84 rows x 3 columns]

<h1> Portioning Flows </h1>

In [320]:

def portion(buildings, coh_agg):
    
    portion_buildings = []

    result_df = pd.DataFrame(index=buildings, columns=coh_agg.index)

    # Iterate by month so we can adjust accordingly
    for index, row in coh_agg.iterrows():
        for b in buildings:
            has_beacon = beacon_df.loc[(beacon_df['Read_Time'] == index) & (beacon_df['Location_Name'] == b)]

            # Has beacon data, add entry, subtract flow from COH data
            if not has_beacon.empty:
                result_df.loc[b, index] = has_beacon['beacon_flow'].values[0]
            
            # No beacon data, must portion
            else:
                portion_buildings.append(b)

        # Compute total GSF
        total_gsf = sum(float(gsf_df[gsf_df['Building Name'] == b]["GSF"]) for b in portion_buildings)
        
        # Compute percentage allocation for each building
        percentages = {b: float(gsf_df[gsf_df['Building Name'] == b]["GSF"]) / total_gsf for b in portion_buildings}
        
        # Distribute 'Gallons' based on percentage
        for b in portion_buildings:
            result_df.loc[b, index] = coh_agg.loc[index, "Gallons"] * percentages[b]

    return result_df

In [269]:
final_df = pd.DataFrame()

<h3>Library Service Group </h3>

In [309]:
portion(library_service_names["Building Name"].str.strip(), library_service_center_agg)

Usage Date,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01,2024-03-01,2024-04-01,2024-05-01,2024-06-01
Building Name,,,,,,,,,,,,
Library Service Center,3035.221819,1517.610909,809.392485,758.805455,1214.088728,505.870303,0.0,0.0,168.623434,151.761091,220.743405,101.174061
Primary Data Center,1964.778181,982.389091,523.940848,491.194545,785.911272,327.46303,0.0,0.0,109.154343,98.238909,142.892959,65.492606

<h3>West Campus Group </h3>

In [316]:
portion(west_campus_names["Building Name"].str.strip(), west_campus_group_agg)

Usage Date,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01,2024-03-01,2024-04-01,2024-05-01,2024-06-01
Building Name,,,,,,,,,,,,
Anderson-Clarke Center,70773.445203,56588.029631,32774.967388,19844.218536,15936.827892,10651.864401,10242.177309,10344.599082,9217.959578,5377.143087,5670.441801,4131.011515
Brian Patterson Sports Performance Center,87854.488571,70245.448532,40685.146661,24633.584893,19783.152564,13222.672665,12714.108332,12841.249415,11442.697498,6674.906874,7038.992704,5128.023694
Brockman Hall for Opera,149608.574992,119621.906922,69283.276407,41948.858762,33688.993153,22517.064832,21651.023877,21867.534116,19485.92149,11366.787536,11986.794128,8732.57963
Moody Center For The Arts,79794.781593,63801.182099,36952.720853,22373.717704,17968.260515,12009.634277,11547.725267,11663.202519,10392.95274,6062.555765,6393.240625,4657.582524
Reckling Park At Cameron Field,53810.719978,43025.213876,24919.580887,15088.02749,12117.146206,8098.863788,7787.369027,7865.242718,7008.632125,4088.368739,4311.370671,3140.905508
Tennis Center,11281.785415,9020.530307,5224.56054,3163.308139,2540.442562,1697.982175,1632.675169,1649.00192,1469.407652,857.154464,903.908343,658.512318
Track & Soccer Stadium,4398.768028,3517.104682,2037.056106,1233.373814,990.518531,662.043234,636.580033,642.945833,572.92203,334.204517,352.433855,256.753947
Tudor Fieldhouse And Youngkin Center,233477.436219,186680.583952,108122.691158,65464.910662,52574.658576,35139.874626,33788.340987,34126.224397,30409.506888,17738.879018,18706.454237,13627.964198

<h3>North Plant Group </h3>

In [323]:
# Excluding Central Plant, lovett magister and sid rich magister for now
exclude = ["Lovett College Magister's House", "Sid Richardson College Magister's House", "Central Plant"]

portion(north_plant_names[~north_plant_names['Building Name'].isin(exclude)]["Building Name"].str.strip(), north_plant_group_agg)

Usage Date,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01,2024-03-01,2024-04-01,2024-05-01,2024-06-01
Building Name,,,,,,,,,,,,
Allen Center,193373.986922,135247.649781,125047.877426,74010.968629,50313.38127,33088.22639,35799.529614,18505.120096,32149.733192,31316.503421,18643.040549,18454.390734
Anderson Hall,152784.999784,106859.316868,98800.465511,58476.147728,39752.657888,26143.044069,28285.247729,14620.915744,25401.539561,24743.203802,14729.886846,14580.834419
Baker College,322738.965354,225726.775621,208703.472595,123523.457424,83972.456032,55223.870183,59749.004154,30884.833109,53657.535804,52266.884876,31115.020762,30800.166385
Baker College Magister's House,12840.036798,8980.446789,8303.181691,4914.329873,3340.809574,2197.058928,2377.089519,1228.740364,2134.74296,2079.416486,1237.898284,1225.371933
Biological Laboratories,312610.731535,218642.990246,202153.914604,119647.029123,81337.222111,53490.827911,57873.953573,29915.601486,51973.64843,50626.63908,30138.565362,29833.591784
Brochstein Pavilion,21875.129258,15299.678452,14145.845187,8372.374853,5691.622416,3743.053762,4049.765691,2093.362714,3636.88819,3542.630377,2108.964749,2087.624034
Brockman Hall for Physics,377061.144393,263720.236701,243831.636905,144314.449804,98106.376261,64518.939218,69805.726303,36083.249209,62688.965472,61064.245539,36352.181161,35984.331709
Brown College,284779.715847,199177.706819,184156.615724,108995.128824,74095.955974,48728.662315,52721.568363,27252.28417,47346.55384,46119.46564,27455.398085,27177.575604
Brown College Magister's House,14041.520837,9820.776428,9080.137429,5374.179716,3653.420001,2402.644884,2599.521523,1343.717599,2334.497808,2273.994255,1353.732457,1340.033973
Cohen House,66543.767102,46541.358801,43031.417847,25468.620355,17313.817534,11386.305189,12319.317603,6367.973384,11063.351343,10776.620699,6415.434507,6350.516419
Cox Mechanical Engineering,92533.156351,64718.59076,59837.804336,35415.665989,24075.916568,15833.350052,17130.760574,8855.054387,15384.263082,14985.546678,8921.051965,8830.779415
Duncan College,398484.748418,278704.114007,257685.497256,152514.010204,103680.517719,68184.732489,73771.900652,38133.402757,66250.784538,64533.752371,38417.614702,38028.86503
Duncan College Magister's House,15113.008376,10570.185248,9773.029191,5784.275365,3932.207039,2585.987136,2797.887138,1446.254687,2512.639858,2447.519369,1457.033764,1442.28997
Duncan Hall,412434.726271,288460.86438,266706.437188,157853.153227,107310.119433,70571.713451,76354.474727,39468.360057,68570.062705,66792.921435,39762.521569,39360.162719
Facilities & Capital Planning,108139.622731,75633.905342,69929.934752,41388.804942,28136.514924,18503.772796,20020.002111,10348.531039,17978.943671,17512.980515,10425.659644,10320.161897
Fondren Library,717021.376111,501491.73374,463671.471944,274429.08645,186559.580476,122689.540598,132742.921615,68616.088894,119209.653284,116120.077654,69127.491253,68427.986877
Geological Laboratories,154893.846259,108334.264631,100164.179315,59283.276819,40301.352148,26503.888827,28675.660695,14822.72395,25752.14955,25084.726976,14933.199147,14782.089394
George R. Brown Hall,425278.260593,297443.757372,275011.8806,162768.821725,110651.839018,72769.37084,78732.211746,40697.43512,70705.387152,68872.904337,41000.757047,40585.868434
Greenhouse,10682.343321,7471.334957,6907.880318,4088.505331,2779.405963,1827.855958,1977.633456,1022.257695,1776.011826,1729.982644,1029.87668,1019.455309
Hamman Hall,72364.324153,50612.31309,46795.358986,27696.350528,18828.250322,12382.260811,13396.883453,6924.977503,12031.05832,11719.247459,6976.590031,6905.993585
Hanszen College,344927.527223,241245.671893,223052.003176,132015.793867,89745.629513,59020.555404,63856.795954,33008.190074,57346.534285,55860.274994,33254.203313,32917.702446
Hanszen College Magister's House,18608.875742,13015.228931,12033.678623,7122.265723,4841.785987,3184.165064,3445.080741,1780.795266,3093.851451,3013.667609,1794.067706,1775.913449
Herman Brown Hall,189029.593826,132209.138938,122238.51747,72348.217883,49183.027029,32344.857209,34995.247551,18089.378986,31427.448457,30612.938254,18224.20088,18039.789324
Herring Hall,156732.182404,109620.014836,101352.963995,59986.872174,40779.66316,26818.446558,29015.9938,14998.645394,26057.785368,25382.441581,15110.431752,14957.528573
Herzstein Hall,160131.714109,111997.680419,103551.316683,61287.991514,41664.17683,27400.140489,29645.35268,15323.967034,26622.980506,25932.988467,15438.178045,15281.958386
Housing & Dining Offices,14109.402582,9868.253581,9124.034068,5400.160427,3671.081943,2414.26013,2612.088542,1350.213612,2345.783607,2284.987558,1360.276884,1346.512178
Huff House,28765.556355,20118.910271,18601.632114,11009.581603,7484.421392,4922.074867,5325.397707,2752.749134,4782.468297,4658.520302,2773.26564,2745.202833
Humanities Building,149896.440324,104839.030249,96932.539865,57370.595286,39001.092511,25648.782607,27750.485678,14344.492113,24921.297014,24275.407778,14451.403002,14305.168567
Jones College,307154.724673,214827.005909,198625.714725,117558.825021,79917.640513,52557.250479,56863.877284,29393.483367,51066.550388,49743.050443,29612.555846,29312.904984
Jones College Magister's House,13686.235021,9572.286068,8850.3871,5238.199444,3560.97928,2341.851921,2533.747086,1309.718162,2275.429138,2216.456477,1319.479618,1306.127741
Keck Hall,301610.291345,210949.175241,195040.332688,115436.777027,78475.051505,51608.542392,55837.430509,28862.903188,50144.750848,48845.141329,29078.021202,28783.779321
Kraft Hall,268666.789441,187908.169162,173736.976152,102828.149958,69903.583346,45971.579187,49738.565347,25710.341311,44667.670846,43510.011685,25901.962976,25639.859779
Lovett College,308580.19488,215823.993655,199547.514118,118104.402182,80288.52921,52801.162711,57127.776083,29529.895186,51303.544451,49973.902293,29749.984356,29448.942848
Lovett Hall,163293.499596,114209.063982,105595.927596,62498.117086,42486.832045,27941.153661,30230.697353,15626.537308,27148.648728,26445.032861,15743.003404,15583.699203
Martel College,337776.591229,236244.237614,218427.754682,129278.881277,87885.049531,57796.958617,62532.935651,32323.873991,56157.642811,54702.196211,32564.786956,32235.262326
Martel College Magister's House,14109.402582,9868.253581,9124.034068,5400.160427,3671.081943,2414.26013,2612.088542,1350.213612,2345.783607,2284.987558,1360.276884,1346.512178
Maxfield Hall,77473.157431,54185.480841,50099.05442,29651.679192,20157.501896,13256.433365,14342.687131,7413.872493,12880.436405,12546.612077,7469.128803,7393.548333
McMurtry College,398452.821837,278681.784245,257664.851504,152501.790788,103672.210841,68179.269531,73765.990051,38130.34751,66245.476528,64528.581929,38414.536685,38025.818159
McMurtry College Magister's House,27747.899221,19407.150961,17943.550505,10620.088728,7219.640321,4747.943536,5136.997772,2655.363401,4613.275916,4493.712907,2675.154081,2648.08407
Mudd Computer Science Building,93865.332253,65650.327561,60699.273718,35925.536166,24422.531308,16061.298695,17377.3877,8982.538313,15605.746336,15201.289715,9049.486041,8957.913861
Multicultural Center,12927.190977,9041.403271,8359.541107,4947.686817,3363.485951,2211.971881,2393.224464,1237.080671,2149.232932,2093.530918,1246.300753,1233.689377
North Kitchen Servery,79855.671814,55851.834605,51639.739242,30563.550535,20777.400965,13664.105444,14783.764525,7641.869627,13276.545535,12932.455184,7698.825222,7620.920443
Oshman Engineering Design Kitchen,80780.267291,56498.505687,52237.641285,30917.425469,21017.968611,13822.312993,14954.935859,7730.34973,13430.265787,13082.191443,7787.964776,7709.157989
Rayzor Hall,96472.926643,67474.104473,62385.509539,36923.553478,25100.99325,16507.484218,17860.134392,9232.074707,16039.27654,15623.584047,9300.882254,9206.766183
RMC/Ley Student Center,243863.774813,170560.699167,157697.774695,93335.171265,63450.163465,41727.534907,45146.757159,23336.791633,40544.001912,39493.216537,23510.723002,23272.816877
Ryon Engineering Laboratory,155846.354774,109000.458363,100780.131698,59647.835046,40549.182401,26666.872576,28851.999599,14913.875219,25910.510533,25238.983692,15025.029777,14872.990785
Seibel Servery,37037.846416,25904.630506,23951.019227,14175.675502,9636.76303,6337.546568,6856.855468,3544.374334,6157.792469,5998.199977,3570.790899,3534.657896
Sewall Hall,321997.658307,225208.298252,208224.096469,123239.733364,83779.577638,55097.02512,59611.765201,30813.892978,53534.288494,52146.831786,31043.551908,30729.420728
Sid Richardson College,451920.57059,316077.648461,292240.487032,172965.7629,117583.819488,77328.136984,83664.530622,43246.998037,75134.851382,73187.569435,43569.322103,43128.442058
South Kitchen Servery,117678.960728,82305.811244,76098.675375,45039.842274,30618.525857,20136.049093,21786.02979,11261.407678,19564.923131,19057.855893,11345.340041,11230.536005
Space Science And Technology,267916.039047,187383.087025,173251.49336,102540.8116,69708.247917,45843.118273,49599.578137,25638.49749,44542.853516,43388.429265,25829.583696,25568.212908
Student Health Center,40855.161572,28574.497904,26419.537177,15636.69514,10629.978488,6990.727434,7563.559039,3909.676185,6792.446931,6616.405999,3938.81538,3898.95832
West Kitchen Servery,125441.680905,87735.133339,81118.5423,48010.906007,32638.284079,21464.328282,23223.150342,12004.26907,20855.527863,20315.011816,12093.738051,11971.36094
Wiess College,298543.51492,208804.241941,193057.160657,114263.014737,77677.116405,51083.786222,55269.674964,28569.424903,49634.878526,48348.483449,28782.355595,28491.105568
Wiess College Magister's House (Wilson House),12524.181583,8759.534576,8098.929687,4793.441067,3258.62818,2143.012937,2318.614911,1198.514278,2082.229894,2028.264409,1207.446921,1195.228708
Will Rice College,264536.824817,185019.631681,171066.279239,101247.468465,68829.020588,45264.900865,48973.980652,25315.120152,43981.036295,42841.172751,25503.796195,25245.722067
Will Rice College Magister's House,16587.732314,11601.621533,10726.679168,6348.703647,4315.910912,2838.327175,3070.904332,1587.379893,2757.822687,2686.347756,1599.210789,1583.028299